<h2 id="title">Select a Color</h2>

{{select-2 content=model selected=controller.selected placeholder=controller.myPlaceholder}}

<div class="row">
	<div class="col-sm-6">
		<h1>Content</h1>
		{{#each item in controller}}
			<div>{{item.id}} [<span {{action "selectItem" item}}>Add</span>]</div>
		{{/each}}
	</div>
	<div class="col-sm-6">
		<h1>Selected</h1>
		{{#each item in controller.selected}}
			<div>{{item.id}} [<span {{action "deselectItem" item}}>Remove</span>]</div>
		{{/each}}
	</div>
</div>

{{outlet}}
<br />
<div class="footer navbar-fixed-bottom well well-md ">
  <div class="panel-body">
    This is Ember-CLI app was built by <a href="https://github.com/Dwightgnjohnson/ember-select2">@dwightgnjohnson</a> following the instructions of Joachim Haagen Skeie's youtube video:<br />
    <iframe width="100%" height="300" src="//www.youtube.com/embed/WVZXywVpP34" frameborder="0" allowfullscreen></iframe>
  </div>
</div>