<h2 id="title">Select a Color</h2>

{{select-2 content=model selected=controller.selected placeholder=controller.myPlaceholder}}

<div class="row">
	<div class="col-sm-6">
		<h1>Content</h1>
		{{#each item in controller}}
			<div>{{item.id}} [<span {{action "selectItem" item}}>Add</span>]</div>
		{{/each}}
	</div>
	<div class="col-sm-6">
		<h1>Selected</h1>
		{{#each item in controller.selected}}
			<div>{{item.id}} [<span {{action "deselectItem" item}}>Remove</span>]</div>
		{{/each}}
	</div>
</div>

{{outlet}}
